header {
  width: 100%;
  height: 96px;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 15;
  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  #nav-icon1 {
    display: none;
  }
  .header-inner {
    width: 82%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1.logo {
      cursor: pointer;
    }
    ul.gnb {
      display: flex;
      li {
        margin: 0 26px;
        a {
          font-size: 1.4rem;
          color: #828282;
          -webkit-transition: all 0.1s ease-in 0s;
        }
        a.nuxt-link-exact-active {
          color: #959ad5;
        }
        a:hover {
          color: #959ad5;
        }
      }
    }
    //gnb
    ul.sns-wrap {
      a {
        display: inline-block;
        svg {
          width: 35.362px;
          height: 35.362px;
        }
      }
      path {
        -webkit-transition: all 0.1s linear 0s;
      }
      display: flex;
      li:nth-of-type(2) {
        margin-left: 32px;
      }
      li:nth-of-type(1):hover .kakaocolor {
        fill: #f7e600;
      }
      li:nth-of-type(2):hover .githubcolor {
        fill: black;
      }
    }
  }
  //header-inner
}
//header
@media screen and (max-width: 1200px) {
  header {
    .header-inner {
      h1.logo {
        font-size: 2.4rem;
      }
      ul.gnb {
        display: flex;
        li {
          margin: 0 16px;
        }
      }
      //gnb
      ul.sns-wrap {
        a {
          svg {
            width: 30px;
            height: 30px;
          }
        }
        display: flex;
        li:nth-of-type(2) {
          margin-left: 26px;
        }
        li:nth-of-type(1):hover .kakaocolor {
          fill: #f7e600;
        }
        li:nth-of-type(2):hover .githubcolor {
          fill: black;
        }
      }
    }
    //header-inner
  }
  //header
}
@media screen and (max-width: 990px) {
  header {
    #nav-icon1 {
      display: flex;
    }
    .header-inner {
      width: 90%;
      h1.logo {
        font-size: 2.4rem;
      }
      ul.gnb {
        display: none;
        li {
          margin: 0 22px;
          a {
            font-size: 1.6rem;
            color: #828282;
          }
        }
      }
      //gnb
      ul.sns-wrap {
        display: none;
      }
    }
    //header-inner
  }
  //header
}
