.modal-bg.on {
  opacity: 1;
  z-index: 14;
}
.modal-bg.on.project {
  z-index: 24;
}
.mobileMenutBar.on .mobile-nav {
  height: 362px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.16);
}
.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
}
.mobile-nav {
  border-top: 1px solid rgb(241, 241, 241);
  position: fixed;
  z-index: 20;
  left: 0;
  top: 96px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  height: 0px;
  display: none;
  ul {
    text-align: center;
    width: 100%;
    li {
      a {
        font-size: 1.6rem;
        display: block;
        padding: 14px 0;
      }
      a.nuxt-link-exact-active {
        background-color: #e1e3f8;
        color: white;
      }
    }
    li:hover {
      background-color: #e1e3f8;
      a {
        color: white;
      }
      // a.nuxt-link-exact-active{

      // }
    }
  }
}
.m-sns-box {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #f7f7fe;
  border-radius: 0 0 10px 10px;
  a {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 0 14px;
    .kakaocolor {
      fill: #f7e600;
    }
    .githubcolor {
      fill: black;
    }
  }
}
@media screen and (max-width: 990px) {
  .mobile-nav {
    display: block;
  }
}
