#nav-icon1 {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: #E1E3F8;
  border-radius: 50%;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 12px;
}

#nav-icon1 span:nth-child(2) {
  top: 23px;
}

#nav-icon1 span:nth-child(3) {
  top: 34px;
}

header.on #nav-icon1 span:nth-child(1) {
  top: 23px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

header.on #nav-icon1 span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

header.on #nav-icon1 span:nth-child(3) {
  top: 23px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}